
.row{
    margin-top:auto;
    margin-left:auto;
}
/*style columns indext */
.column {
   margin-top:30px;
   margin-bottom:20px;
    border:none;
    float: left;
    width: 32%;
    padding: 8px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width:unset;
        width: 100%;
        height:unset;
        height:100%;
    }
}


