body {
    
    background-color:aqua;
    width: 435px;
    height: auto;
}
.header2 {

    margin-left: 120px;
    color:black;

}
.style1{
    width: 430px;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/*sucessStory1 img {
    width: 5px;
    height: 5px;
}
*/