body {
    
    background-color:aqua;
    width: auto;
    height: auto;
}
h2 {
    text-align: center;
}

.style1{
    margin-left:55px;
    width: 460px;
    height: 300px;
    border-radius:60px
}
p{
    font-size:20px;
}

@media screen and (max-width: 600px) {
    .column1 {
        width: 100%;
    }
}