body {
    background-color:dodgerblue;
    width: auto;
    height: auto;
   
}
h2{
    text-align:center;
}

p {
    text-align:center;
    font-size:x-large;
}


.auto-style2 {
   margin-left:100px;
    width: 400px;
    height: 450px;
    border-style:solid;
    border-radius:30px;
}

@media screen and (max-width: 600px) {
    .column2 {
        width: 100%;
    }
}

